/**
 * Nav pills
 */
ul.nav-pills {
  background-color: #e7e7e7;
}
ul.nav-pills > li {
  margin:0;
}
ul.nav-pills > li > a {
  border-radius: 0px;
  background-color: #e7e7e7;
  color: #313131;
  cursor: pointer;
}
ul.nav-pills > li > a:hover,
ul.nav-pills > li > a:focus {
  background-color: #2196f3;
  color: #fff;
}
ul.nav-pills > li.active {

}
ul.nav-pills > li.active > a {
  background-color: #2196f3;
  color: #fff;
}
ul.nav-pills > li.active > a:hover,
ul.nav-pills > li.active > a:focus {
  background-color: #09F;
  color:#fff;
}


/**
 * Basic Page Content Type Nodes
 */

body.node-type-page .main-container {
  max-width: 1200px;
}

body.node-type-page .region-content .block {
  padding: 35px;
}

body.node-type-page .field-name-body {
  font-size: 18px;
  line-height: 1.8em;
}

body.node-type-page .field-name-body h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 15px;
}
body.node-type-page .field-name-body p {
  margin-bottom: 25px;
}

/**
 * Facility Content Type Nodes
 */
body.node-type-facility .main-container {
  max-width: 1200px;
}
body.node-type-facility .region-content .block {
  padding: 35px;
}
body.node-type-facility .field-name-body {
  font-size: 18px;
  line-height: 1.8em;
}

body.node-type-facility .field-name-body h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 15px;
}
body.node-type-facility .field-name-body p {
  margin-bottom: 25px;
}
.field-group-fieldset.inline-group {
  margin: 25px 0 10px;
}
.field-group-fieldset.inline-group > div.field {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.field-group-fieldset.inline-group > div.field > .label-above {
  margin-bottom: 0px;
}
#block-views-list-of-facilities-block .views-row {
  margin-bottom: 35px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f5f5f5;
}

/**
 * Project Content Type Nodes
 */
body.node-type-project:not(.page-node-edit) .main-container {
  max-width: 1200px;
}
body.node-type-project .nav-tabs.tabs--primary {
  display: none;
}
body.node-type-project #block-system-main {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}
body.node-type-project .field {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
body.node-type-project .field .block {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}
body.node-type-project .fieldset-project.panel-default {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0;
}
body.node-type-project .fieldset-project.panel-default .panel-heading {
  background-color: transparent;
  font-weight: 500;
}
body.node-type-project .fieldset-project.panel-default .field {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}
/* Project node: image gallery */
body.node-type-project .field-name-field-image-gallery {
  padding: 0;
}
body.node-type-project .views-field-edit-node {
  margin-bottom: 15px;
  font-weight: 500;
}

.project-body {
  line-height: 1.75em;
}

/* Project node: more from this author */
.group-morefromauthor .panel-body {
  padding: 20px 10px;
}

/* Project node: node profile block */
.node-profile-block {}
.node-profile-block .profile-image img {
  border-radius: 50%;
}
.node-profile-block .profile-name {
  margin: 25px 0 10px;
  font-size: 20px;
  font-weight: bold;
}
.node-profile-block .profile-school {
  color: #777;
}


/* Project node: license card */
.license-card .views-field {
  margin-bottom: 10px;
}
.license-icons img {
  width: 50px;
  display: inline-block;
  margin-right: 5px;
}
.license-name {
  font-size: 16px;
  font-weight: bold;
}
.license-shortname {
  color: #777;
}
.license-description {}


/**
 * File list for download block
 */
.group-projectfiles {
  color: #777;
}
.group-projectfiles .list-group-item {
  border: none;
  padding: 0;
  margin-top: 15px;
}
.group-projectfiles a {
  font-weight: bold;
  margin-right: 10px;
}


/**
 * Canvas specific
 */
canvas#modelViewer {
  width: 100% !important;
  height: 100% !important;
  padding: 15px;
}


/**
 * preloader
 */
.model-region {
  position: relative;
}

.model-region .model-error {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: red;
}

.model-region .model-loading {
  display: none;
  position: absolute;
  top: 40%;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #e7e7e7;
}

.spinner {
  width: 100px;
  height: 100px;
  background-color: #e7e7e7;
  margin: auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}



/**
 * Job Content Type Nodes
 */
body.node-type-job:not(.page-node-edit) .main-container {
  max-width: 1200px;
}
body.node-type-job .nav-tabs.tabs--primary {
  display: none;
}
body.node-type-job #block-system-main {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}
body.node-type-job .field-group-div > .field {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
body.node-type-job .panel-heading {
  background-color: transparent;
  font-weight: 500;
}

/* current state */
span.current-state {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
  display: block;
}
span.current-state.state-2 {
  color: #2196f3; /* new job */
}
span.current-state.state-3 {
  color: #e40032; /* needs revision */
}
span.current-state.state-8 {
  color: #bfbe00; /* revised */
}
span.current-state.state-4 {
  color: #2196f3; /* in queue */
}
span.current-state.state-5 {
  color: #bfbe00; /* revised */
}


/* state history */
.workflow-state-entry {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #DDD;
}
.workflow-state-entry:last-of-type {
  padding-bottom: 0px;
  border-bottom: 0px;
}
.workflow-transition,
.workflow-user,
.workflow-comment {
  margin-bottom: 10px;
}
.workflow-transition {}
.workflow-user {
  font-weight: bold;
}
.workflow-comment {}
.workflow-time {
  font-size: 12px;
  color: #777;
}

.view-workflow-blocks-state-history .views-row {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.view-workflow-blocks-state-history .views-row:last-child {
  border-bottom: none;
}
.view-workflow-blocks-state-history .views-field {
  margin-bottom: 5px;
}
.view-workflow-blocks-state-history .views-field-stamp {
  color: #777;
}
.view-workflow-blocks-state-history .views-field-uid {
  font-style: italic;
}

/**
 * Interactive Content Content Type
 */
body.node-type-h5p-content .region-content .block {
  background-color: transparent;
  padding: 0px;
  margin: 0 auto;
  box-shadow: unset;
  max-width: 960px;
}
body.node-type-h5p-content.page-node-edit .region-content .block {
  max-width: unset;
}
.h5p-iframe-wrapper {
  box-shadow: 0 0 50px 3px rgba(0,0,0,0.2);
  margin-bottom: 25px;
  padding: 10px;
  background-color: #fff;
}
body.node-type-h5p-content .panel-default > .panel-heading {
  background-color: #fff;
}

/**
 * Learn Section
 */
body.page-learn .region-content .block {
  background-color: unset;
  padding: 0;
  margin: 0;
  box-shadow: unset;
}

.view-learn .views-row {
  margin-bottom: 25px;
}
.card.card-basic:hover .card-body,
.card.card-basic:focus .card-body {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 250ms;
}
.card-basic .card-media {
  position: relative;
}
.card-media .card-media-overlay {
  position: absolute;
  top: 10px;
  left:10px;
}
.card-media .card-media-overlay .views-field-picture {
  display: inline-block;
}
.card-media .card-media-overlay .views-field-picture img {
  border: 3px solid #fff;
  border-radius: 50%;
  width: 32px;
}
.card-media .card-media-overlay .views-field-name {
  display: inline-block;
  margin-left: 5px;
  line-height: 32px;
  vertical-align: text-bottom;
}
.card-media .card-media-overlay .views-field-name a {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
}
.card-basic .card-body {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: 250ms;
}
.card-basic .card-body .views-field-title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 15px;
}
.card-basic .card-body .views-field-title-1 {
  margin-top: 20px;
  color: #777;
}

/**
 * Event List
 */
#block-views-event-list-block h2.block-title {
  margin: 10px 0 25px;
  font-size: 22px;
  font-weight: bold;
  color: #777;
}
.view-event-list .views-row {
  background: #fff;
  padding: 15px;
  position: relative;
  border: 1px solid #e7e7e7;
  transition: 250ms;
}
.view-event-list .views-row:hover,
.view-event-list .views-row:focus  {
  transition: 250ms;
  background-color: rgba(0,0,0,0.01);
}
.view-event-list .views-field-title {
  font-weight: bold;
  margin-bottom: 15px;
}
.view-event-list .views-field-field-date {
  color: #777;
  margin-top: 15px;
}
a.block-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * Groups Section
 */
body.node-type-group #block-system-main,
body.page-groups .region-content .block {
  background-color: unset;
  padding: 0;
  margin: 0;
  box-shadow: unset;
}
#block-og-admin-block-group-admin {
  background: unset;
  box-shadow: unset;
  padding: 0;
}
#block-og-admin-block-group-admin ul > li {
  display: inline-block;
}
#block-og-admin-block-group-admin ul > li > a {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  border: 1px solid #CCC;
}
#block-og-admin-block-group-admin ul > li > a:hover,
#block-og-admin-block-group-admin ul > li > a:focus {
  background-color: #e6e6e6;
  border-color: #adadad;
}
/**
 * Group Content List
 */
.view-groups-node-list .views-row {
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.view-groups-node-list .views-row .views-field-created {
  font-size: 16px;
  color: #AAA;
}
.view-groups-node-list .views-row .views-field-title h2 {
  margin: 5px 0 15px;
}
.view-groups-node-list .views-row .views-field-title h2 a {
  font-weight: bold;
}
.view-groups-node-list .views-row .views-field-body {
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 25px;
}
.view-groups-node-list .views-row .views-field-picture {
  float: left;
  max-width: 50px;
  margin-right: 5px;
}
.view-groups-node-list .views-row .views-field-name {
  line-height: 50px;
}


/**
 * User dashboard
 */
body.page-user.logged-in #block-system-main {
  background: transparent;
  box-shadow: none;
}

.profile-dashboard {}
.profile-dashboard .views-row > .views-field {
  padding: 0 0 10px;
}
.profile-dashboard .profile-image {}
.profile-dashboard .profile-name {
  font-size: 18px;
  font-weight: bold;
}
.profile-dashboard .profile-school {
  color: #777;
  font-size: 14px;
}
.profile-dashboard .profile-bio {}

.profile-role-badge {
  position: absolute;
  top: 35px;
  left: 45px;
}
span.role-badge {
  padding: 5px 8px;
  background-color: #777;
  border-radius: 5px;
  border: 1px solid #777;
  color: #fff;
  text-shadow: 0px 0px 5px #111;
  margin-right: 5px;
}
span.role-badge.role-technician {
  background-color: #e40032;
  border-color: #e40032;
}

span.role-badge.role-staff {
  background-color: #09f;
  border-color: #09f;
}
span.role-badge.role-student {
  background-color: #6bbfae;
  border-color: #6bbfae;
}
span.role-badge.role-faculty {
  background-color: #004c9b;
  border-color: #004c9b;
}
span.role-badge.role-administrator {
  background-color: #000;
  border-color: red;
}


/**
 * Workflow steps visualization
 */
.steps {
  text-align: center;
  margin-bottom: 30px;
}
.step {
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
  border: 4px solid;
  border-color: transparent;
  border-radius: 50%;
  color: #999;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.step:nth-child(n+2) {
  margin: 0 0 0 100px;
}
.step:nth-child(n+2):before {
  width: 75px;
  height: 2px;
  display: block;
  background-color: white;
  transform: translate(-95px, 18px);
  content: '';
}
.step:after {
  width: 145px;
  display: block;
  transform: translate(-55px, 3px);
  color: #999;
  content: attr(data-desc);
  font-weight: 400;
  font-size: 13px;
  pointer-events: none;
}
.step:before {
  pointer-events: none;
}
.step.active {
  border-color: #2196f3;
  color: #2196f3;
}
.step.active:before {
  background-color: forestgreen;
  background: linear-gradient(to right, forestgreen , #09F);
}
.step.active:after {
  color: #2196f3;
}
.step.done {
  background-color: forestgreen;
  border-color: green;
  color: white;
}
.step.done:after {
  color: green;
}
.step.done:before {
  background-color: forestgreen;
}